---
layout: default
---
<ul id="results-container"></ul>
{% include pagination.html %}
{% for post in paginator.posts %}
<article class='{{ post.maker | replace: " ","" }} {{ post.title | replace: " ","" }}'>
        <a href="{{ site.baseurl }}{{ post.url }}">
            <img src="/assets/images/{{ post.maker | replace: " ", "_" }}/{{ post.image }}" />
        </a>
    <section class='info'>
        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
        <ul>
            <li><strong>maker:</strong> {{ post.maker }}</li>
            <li><strong>color:</strong> {{ post.color }}</li>
            <li><strong>price:</strong> {{ post.price }}</li>
        </ul>
        {% include paypal_buy.html %}
    </section>
</article>
{% endfor %}

{% include pagination.html %}
{% include footer.html %}

