    <footer>
        <section>
            <h2>Akademia robotyki LEGO</h2>
            <ul>
                <li>ul. Żółkiweskiego 55</li>
                <li>tel. 502 678 508</li>
                <li>tel. 502 678 508</li>
                <li>e-mail: <a href='mailto:kontakt@robocampkrosno.pl'>kontakt@robocampkrosno.pl</a></li>
            </ul>
        </section>
        <section class="aktualności">
            <h2>Aktualności</h2>
            <ul>
            {% for post in site.posts limit:5 %}
                <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
            </ul>
        </section>
        <section>
            <h2>Właściciel Akademii</h2>
            <ul>
                <li>PHU "FABRYKA ROBOTÓW" ANNA WAIS</li>
                <li>ul. Powstańców Warszawskich 20</li>
                <li>38-400 Krosno</li>
                <li>NIP 684 202 47 02</li>
                </ul>
        </section>
        <a href="/">
          <img src="{{ site.baseurl }}{{ site.logo | replace: 'robocamp_logo.png', 'robocamp_logo_footer.png' }}" width='200' height='81' />
      </a>
        <p>
        <a class="subscribe" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS Subskrypcja {{ site.name }}</a> &copy; {{ site.time | date: '%Y' }}</p>
    </footer>
