---
layout: compress
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
  {% include head.html %}
  <body class="page {{ page.layout }}">
    {% include header.html %}
    <section id="slideshow">
        <img src="/assets/images/slider-nauka-programowania.jpg" alt="Nauka programowania" />
        <img src="/assets/images/slider-promocja-wrzesien.jpg" alt="Promocja wrzesień" />
        <img src="/assets/images/slider-warsztaty-edukacyjne.jpg" alt="Warsztaty edukacyjne" />
    </section>
    <section id='info'>
        <a href="#">zobacz szczegóły</a>
        <h2>Trwają zapisy na zajęcia pozalekcyjne z robotyki LEGO</h2>
        <p>Zapraszamy do rezerwacji miejsc na zajęciach z robotyki LEGO i tworzenia gier komputerowych w środowisku Scratch</p>
        <h2></h2>
    </section>
    <section id="content">
      <h1>{{ page.title }}</h1>
      {{content}}
    </section>
    {% include footer.html %}
    <script src="/js/init.js"></script>
    {% include analytics.html %}
  </body>
</html>

