---
layout: compress
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
  {% include head.html %}
  <body class="page {{ page.layout }} {{ page.title | downcase | replace: '-','' | replace: ' ','' }}">
    {% include header.html %}
    <article id="content">
        <h1>{{ page.title }}</h1>
        <main role="main">
          {{ content }}
        </main>
        <aside class="aktualności">
            <h2>Aktualności</h2>
            <ul>
            {% for post in site.posts limit:21 %}
                <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
            </ul>
        </aside>
    </article>
    {% include footer.html %}

    <script src="/js/init.js"></script>
    {% include analytics.html %}
  </body>
</html>

